{% extends 'tabbed.html.twig' %}

{% block title %} Form Element &raquo;  Edit{% endblock %}

{% block form_actions %}
    <a href="{{ path('form_builder_index', { id: form_element.form.id}) }}">
        {{ 'form.form_element.actions.back'|trans }}
    </a>

    <button class="btn btn-primary" type="submit">
        {{ 'form.form_builder.actions.save'|trans }}
    </button>

{% endblock %}